
*{
    margin:0px ;
}
/*HEADER*/

header{
    background-position: center; 
    background-size: 100% ;
    display: flex;
    top: 0;
    background-image: url("/img/banner.png");
    height:300px;
    width: 100%;
    flex-direction: column 
}

header .cabecera{ 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 25px; 
    width:100%;
    background-color: rgba(255, 255, 255, 0.38); 
    font-family: fantasy;
    color:rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;
    position: fixed;

}
header .cabecera .logo{ 
    display: flex;
    justify-content:flex-start;
    align-items: center; 
    height: 25px; 
    width:100%;
    font-family: fantasy;
    font-size: 23px;
    color:rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;
}
 
header .cabecera a img{ 
    width: 50px;
    padding-right:20px
} 
header .cabecera a {
    text-decoration:none;
    color:rgb(255, 255, 255);
}

/*BOTONES de RESERVA Y LOGIN*/
header .cabecera .reservaLogin{ 
    display: flex;
    justify-content: flex-end;
    margin:0px 40px 0px 0px;
}
header .cabecera .reservaLogin .reserva  {
    height: 43px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: #E9207E;    
    border: none;
    color:white;
    margin-right:20px;

 }
 header .cabecera .reservaLogin .login  {
    height: 43px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);    
    border: 2px solid  #E9207E;
    color: #E9207E;
 }
 /*BOTON DE CREAR EVENTO*/

 header .botonCrearEvento {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}
header .botonCrearEvento button{
    height: 43px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);    
    border: 2px solid white;
    color:white;
    margin:170px 100px 0px 0px
}
/* MAIN*/
main{
    background-color: rgb(255, 255, 255);
    color:black;
    width: 100%;
    margin: 0px 20px 0px 20px;
}
main .buscador{
    display: flex;
    justify-content: center; 
    align-items: center;

}
main .filtros{
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
main .filtros .filtrosI a img{
    margin: 0px 20px 0px 20px;
}
main .filtros .filtrosD button{
    height: 30px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 300;
    background-color: rgba(213, 212, 212, 0.183);    
    border: 2px solid white;
    color:rgb(145, 144, 144);
    margin:0px 50px 0px 0px
}

main .cards{
    display: flex;
    justify-content:space-evenly; 
    align-items: center;
    margin-top: 30px;
}
main .cards div{
    color:black;
    height: 250px;
    width:200px;
    background-color: aliceblue;
    border-radius: 20px;
    text-align: center;
}

/*FOOTER*/
footer{
    display: flex;
    justify-content:space-between;
    margin:20px;

}
footer .redesSociales a img{
    width:25px;
}