
*{
    margin:0px;
    /*border:1px solid red */
}

/*HEADER*/
header{
    display: flex;
    flex-direction: column; /* controla el botón de crear Mi Evento*/
    
    background-position: center; 
    background-size: 100% ;
    background-image: url("/assets/img/banner.png");
    background-repeat: no-repeat;
    height:300px;
    width: 100%;
}

header .cabecera{ 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;

    height: 25px; 
    width:100%;
    background-color: rgba(255, 255, 255, 0.38); 
    font-family: fantasy;
    color:rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
header .cabecera .logo{ 
    display: flex;
    justify-content:flex-start;
    align-items: center; 
    
    height: 25px; 
    width:100%;
    font-family: fantasy;
    font-size: 23px;
    color:rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;

}
 
header .cabecera a img{ 
    width: 50px;
    padding-right:20px;

} 
header .cabecera a {
    text-decoration:none;
    color:rgb(255, 255, 255);

}

/*BOTONES de RESERVA Y LOGIN*/
header .cabecera .registroLogin{ 
    display: flex;
    justify-content: flex-end;
    
    margin:0px 40px 0px 0px;
    padding-right:20px;
}
header .cabecera .registroLogin .registro{
    height: 36px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: #E9207E;    
    border: none;
    color:white;
    margin-right:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 0.5s;
}
.registroLogin .registro:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
 header .cabecera .registroLogin .login{
    height: 36px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);    
    border: 2px solid  #E9207E;
    color: #E9207E;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 0.5s;
}
.login:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
 /* MENÚ HAMBURGUESA PARA CELULARES*/
.burger {
    width: 100%;
    display:none;
}

 /*BOTON DE CREAR EVENTO*/
 header .botonCrearEvento {
    display: flex;
    justify-content: flex-end; 
    align-items: center;

}
header .botonCrearEvento button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);    
    border: 2px solid white;
    color:white;
    margin:170px 100px 0px 0px;
    box-shadow: rgba(250, 249, 249, 0.408) 0px 5px 15px;
    transition: box-shadow 0.5s;
}
.botonCrearEvento button:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}

/* MAIN*/
main{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;

    background-color: rgb(255, 255, 255);
    color:black;
    width: 100%;
}

.filters{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between; 
    gap:50px    
}

/* filtro central*/
.centerFilter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    border-radius: 25px;
    background-color:#D8E450;
    width: 450px;
    height:60px;
    margin-top:-30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.centerFilter div{
    border-right:1px solid #5250C8;
    padding-right:15px;
    cursor: pointer;

}
.centerFilter div:nth-child(4n){
    display: inline-flex;
    justify-content: space-between;

    width: 25%;
    border-right:none;
    padding-right:none;
}
.centerFilter p{
    color:#5250C8;
    font-weight: bold;
}
.centerFilter div button {
    background-color: #D8E450;
    border: none;
    color:#5250C8;
    font-weight: bolder;

}
/* categorías temáticas y filtros Hoy y "Por día"*/

.categories{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between; 
    gap:20px;
    margin-top:15px;
    opacity: 0.6;
    border:1px solid rgb(121, 112, 112);
    height: 35px;
    width: 360px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid white;
    color:rgb(145, 144, 144);
    transition: box-shadow 0.5s;
}
.categories:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
.categories img{
    background-color: none;
    padding:10px;
    width:23px
}
.dayFilters{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between; 
    gap:50px;    
    margin-top:15px;
}
.dayFilters button{
    height: 30px;
    width: 80px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.183);    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid white;
    color:rgb(145, 144, 144);
    transition: box-shadow 0.5s;
}
.dayFilters button:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}


/*tarjetas de productos */
.cards{
    display: flex;
    gap : 20px;

    align-items: center;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    
}
.cards div{
    justify-content:space-evenly; 

    color:black;
    height: 250px;
    width:260px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: box-shadow 0.5s;
}
.cards div:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
  
.cards img{
    display: block;

    max-width: 100%;
    height: auto;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
}

/*FOOTER*/
footer{
    display: flex;
    justify-content:space-between;

    padding:20px 0px 0px 0px;

}
footer p{
    padding-left: 20px;

}
.redesSociales{
    display: flex;
    justify-content: space-between; 
    gap:50px;

    padding-right: 20px;

}
.redesSociales a img{
    width:25px;
}
@media only screen and (max-width: 800px) {

    header {
        background-position:top; 
        height: 130px;
        padding:0px 0px 0px 0px;
        display: flex;
        justify-content: space-between; 
        margin-bottom:20px
    }
    .cabecera{ 
        align-items: center; 
        position: fixed; 
        font-size: 20px;     
    }
    .cabecera .logo a img {
        width:40px;
    }
    .registroLogin a button{
        display:none;
    }
    .burger {
        width: 100%;
        display:inline;
        padding-left:300px
    }
    .botonCrearEvento{
        display: flex;
        align-items:center;

    }
    .botonCrearEvento a button{
        font-size: 8px;
        margin:80px 340px 0px 0px;
        height:30px;
        width: 90px;
    }
    .filters{
        display: flex;
        flex-direction: column;
        padding-top: 0%;
        gap: 50px;

    }
    .centerFilter{
        display: flex;
        flex-direction: column;
        width: 290px;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
        border:0px none ;
    }
    .centerFilter div{
        border-right: none;
        border:2px solid  #D8E450;
    }
    .dayFilters{
       gap: 30px;
        margin-bottom:20px
    }
    .categories{
        flex-direction: row;
    }
    .cards{
        display: flex;
        flex-direction:column;
    }
    .footer{
        display: flex;
        padding:0px 0px 0px 0px;
    }

}

@media only screen and (max-width: 500px) {

    header {
        background-position:top; 
        height: 130px;
        padding:0px 0px 0px 0px;
        display: flex;
        justify-content: space-between; 

    }
    .cabecera{ 
        align-items: center; 
        position: fixed; 
        font-size: 20px;     
    }
    .cabecera .logo a img {
        width:40px;
    }
    .registroLogin a button{
        display:none;
    }
    .burger {
        width: 100%;
        display:block;
        padding-left:100px

    }
    .botonCrearEvento{
        display: flex;
        align-items:center;

    }
    .botonCrearEvento a button{
        font-size: 8px;
        margin:70px 150px 0px 0px;
        height:30px;
        width: 90px;
    }
    .filters{
        display: flex;
        flex-direction: column;
        padding-top: 0%;
        gap: 50px;

    }
    .centerFilter{
        display: flex;
        flex-direction: column;
        width: 290px;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
        border:0px none ;
    }
    .centerFilter div{
        border-right: none;
        border:2px solid  #D8E450;
    }
    .dayFilters{
       gap: 30px;
        margin-bottom:20px
    }
    .categories{
        flex-direction: row;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        padding:0px 0px 0px 0px;
    }

}
