
*{
    margin:0px;
    /*border:1px solid red */
}

/*HEADER*/
header{
    display: flex;
    flex-direction: column; /* controla el botón de crear Mi Evento*/    
    background-position: top; 
    background-size: 100%;
    background-image: url("/assets/img/banner.png");
    background-repeat: no-repeat;
    height:300px;
    width: 100%;
}

header .cabecera{ 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;

    height: 25px; 
    width:100%;
    background-color: rgba(255, 255, 255, 0.25); 
    font-family: fantasy;
    color:white;
    padding: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 0.5s;
}
.cabecera:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
header .cabecera .logo{ 
    display: flex;
    justify-content:flex-start;
    align-items: center; 
    
    height: 25px; 
    width:100%;
    font-family: fantasy;
    font-size: 23px;
    color:rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;

}
 
header .cabecera a img{ 
    width: 50px;
    padding-right:20px;

} 
header .cabecera a {
    text-decoration:none;
    color:rgb(255, 255, 255);
}

/*BOTONES de RESERVA Y LOGIN*/
header .cabecera .registroLogin{ 
    display: flex;
    justify-content: flex-end;    
    margin:0px 40px 0px 0px;
    padding-right:20px;
}
header .cabecera .registroLogin .registro{
    height: 36px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: #E9207E;    
    border: none;
    color:white;
    margin-right:20px;
    box-shadow: rgba(79, 6, 45, 0.35) 0px 5px 15px;
    transition: box-shadow 0.5s;
}
.registro:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
 header .cabecera .registroLogin .login{
    height: 36px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);    
    border: 2px solid  #E9207E;
    color: #E9207E;
    box-shadow: rgba(79, 6, 45, 0.35) 0px 5px 15px;
    transition: box-shadow 0.5s;
}
.login:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
 /* MENÚ HAMBURGUESA PARA CELULARES - con js incluimos los botones de registro y login + cerrar sesión*/
.burger {
    width: 100%;
    display:none;
}

 /*BOTON DE CREAR EVENTO*/
 header .botonCrearEvento {
    display: flex;
    justify-content: flex-end; 
    align-items: center;

}
header .botonCrearEvento button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);    
    border: 2px solid white;
    color:white;
    margin:170px 100px 0px 0px;
    box-shadow: rgba(250, 249, 249, 0.408) 0px 5px 15px;
    transition: box-shadow 0.5s;
}
.botonCrearEvento button:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}

/* MAIN*/
main{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color:black;
    width: 100%;
}
.wrapper{
    width:95%;
    margin:0 auto;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between; 
    gap:50px    
}
/* filtro central*/
.centerFilter{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:15px;
    border-radius: 25px;
    background-color:#D8E450;
    width: 450px;
    height:60px;
    margin-top:-30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 0.5s;
}
.centerFilter:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
.centerFilter div{
    padding-right:15px;
    cursor: pointer;
}

.centerFilter button {
    background-color: #D8E450;
    border: none;
    color:#5250C8;
    font-weight: bolder;
}

.centerFilter input{
    background-color: transparent;
    width: 70%;
    padding: 1em 0.6em;
    border-top:none ;
    border-right:none ;
    border-left:none;
    border-width: 0.1em;
    color:#5250C8;

}
.centerFilter input:focus{
    border-bottom-color:#6759ff ;
    color:#5250C8;

}
.centerFilter #search{
    background-color: #D8E450;
    border: none;
    font-weight: bolder;
}
.centerFilter  i{
    color:#5250C8;
    cursor: pointer;
    font-size: 25px;
}
.btn{
    cursor: pointer;
}
.active{
    color:#101014;
}
.categories{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between; 
    margin-top:15px;
    opacity: 0.6;
    border:1px solid rgb(121, 112, 112);
    height: 35px;
    width: 360px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid white;
    color:rgb(145, 144, 144);
    transition: box-shadow 0.5s;
}
.categories:hover {
    box-shadow: none;
    transition: box-shadow 0.5s;
}
.categories .btn{
    background-color: rgb(255, 254, 254);
    border-radius: 50px;
    border:none;
    width: 43px;
    cursor: pointer;
}
.categories .btn img{
    background-color: none;
    width:23px;
    height:32px
}
.dayFilters{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between; 
    gap:50px;    
    margin-top:15px;
}
.dayFilters .btn{
    height: 30px;
    width: 80px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.183);    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid white;
    color:rgb(145, 144, 144);
    transition: box-shadow 0.5s;
}
.dayFilters .btn:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
.btn img{
    max-width: 100%;
    object-fit: contain;
}
/*TARJETAS DE PRODUCTOS*/
/* A) tarjetas de productos DIV main-events*/
#main-events{
    display:flex;
    gap:2em;
    padding: 2em 0;
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
    cursor: pointer;
    align-items: center;    
}
#main-events div{
    color:black;
    height: 270px;
    width:270px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: box-shadow 0.5s;
}
#main-events div p{
    font-size: 12px;
    font-family: sans-serif;
}


#main-events div:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
  
#main-events img{
    display: block;
    max-width: 100%;
    height: auto;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    object-fit: contain;
}

/*B) Tarjetas de productos DIV events*/
#events{
    display:grid;
    grid-template-columns: 270px 270px 270px 270px;
    gap: 2em;
    padding: 2em 0;
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
    cursor: pointer;
    align-items: center;
}
#events div:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
#events img{
    display: block;
    max-width: 100%;
    height: auto;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    object-fit: contain;
}
.container{
    justify-content:space-evenly; 
    color:rgb(12, 12, 12);
    text-align: center;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: box-shadow 0.5s;
    padding-bottom: 20px;    
}
#events div p{
    font-size: 10px;
    font-family: sans-serif;
}
.date{
    display:inline;
}
.day{
    display:none

}
.location{
    display:inline
}
.category{
    display:none
}
.event-name{
    font-weight: 400;
    padding:5px;
    font-size: 15px;
}
.description{
    padding-bottom:10px;
}
.hide{
    display:none
}
/*FOOTER*/
footer{
    display: flex;
    justify-content:space-between;
    padding:20px 0px 0px 0px;
}
footer p{
    padding-left: 20px;
}
.redesSociales{
    display: flex;
    justify-content: space-between; 
    gap:50px;
    padding-right: 20px;
}
.redesSociales a img{
    width:25px;
}

/* falta terminar*/
@media only screen and (max-width: 800px) {

    header {
        background-position:top; 
        height: 130px;
        padding:0px 0px 0px 0px;
        display: flex;
        justify-content: space-between; 
        margin-bottom:20px
    }
    .cabecera{ 
        align-items: center; 
        position: fixed; 
        font-size: 20px;     
    }
    .cabecera .logo a img {
        width:40px;
    }
    .botonCrearEvento a button{
        font-size: 8px;
        margin:80px 75px 0px 0px;
        height:30px;
        width: 90px;
    }  
    .buttons{
        display: flex;
        flex-direction: row;
        padding-top: 0%;
        gap: 30px;
    }    
    .centerFilter  {
        width: 800px;
        margin-top:-20px;

    }
    .centerFilter div p{
        font-size: 18px;            
    }

    .dayFilters{
       gap: 30px;
        margin-bottom:20px
    }
    .categories{
        flex-direction: row;
    }
    #main-events{
        display: flex;
        flex-wrap: wrap;
        align-self: center;
    }

    #events{
        display:grid;
        grid-template-columns: 270px 270px;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
    }

}
/* falta terminar*/
@media only screen and (max-width: 500px) {

    header {
        background-position:top; 
        height: 130px;
        padding:0px 0px 0px 0px;
        display: flex;
        justify-content: space-between; 
    }
    .cabecera{ 
        align-items: center; 
        position: fixed; 
        font-size: 20px;
     
    }
    .cabecera .logo a img {
        width:40px;
    }
    .registroLogin a button{
        display:none;
    }
    .burger {
        width: 100%;
        display:block;
        padding-left:70px;
    }
    .botonCrearEvento{
        display: flex;
        align-items:center;

    }
    .botonCrearEvento a button{
        font-size: 8px;
        margin:70px 150px 0px 0px;
        height:30px;
        width: 90px;
        margin:115px 150px 0px 0px;
        border-color:#E9207E ;
        background-color: #E9207E;  
        box-shadow: rgba(79, 6, 45, 0.35) 0px 5px 15px;  
        transition: box-shadow 0.5s;
    }
    .botonCrearEvento a button:hover {
        cursor: pointer;
        box-shadow: none;
        transition: box-shadow 0.5s;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }    
    .centerFilter{
        display: flex;
        flex-direction: row;
        width: 290px;
        height: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        border:0px none;
    }

    .centerFilter div{
        border-right: none;
        border:2px solid  #D8E450;
    }
    .search{
        font-size: 18px;
    }
    .search-input{
        height: 15px;
    }
    .dayFilters{
        gap: 35px;
        width: 200px;
        margin-bottom:10px
    }
    .categories{
        flex-direction: row;
        width: 280px;
        gap: 15px;
        margin: 20px 0px 20px 0px;
    }

    #main-events{
        display: flex;
        flex-direction: column;
    }
    #events{
        display: flex;
        flex-direction: column;
    }
    .footer{
        display: flex;
        padding:0px;
    }

}
