<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido al Parque !!!</h1>
    <h3>Donde encontrás la mejor opción par disfrutar tú tiempo libre.</h3>
    <h4>Iniciar Sesión</h4>
    <form action="">
    <input type="email" name="email" id="" placeholder="correo electrónico">
    <br><br>
    <input type="password" name="contraseña" id="" placeholder="contraseña">
    <br><br>

    <a href="/"><button class="registro">inicio</button></a>
    <script src="login.js"></script>
   

    <input type="submit" value="Registrate" > 
    </form>
</body>
</html>