<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">    
    <title>login</title>
    <link rel="stylesheet" href="/components/registerLogin/login/login.css">
</head>

<body>
    <header><!-- se agrega a toda página. (en formularios se deben ocultar los botones de Registro y Login xq para poder acceder la persona ya esta logueada). Se debe cambiar el css un poco-->
        <div class="cabecera"></div>
    </header>
    
    <div class="cdiv">
       
        <div class="form" >
        <p><h4>Iniciar Sesión</h4></p>
            <form  action="">
            <input type="email" name="email" id="" placeholder="correo electrónico">
            <br><br>
            <input type="password" name="contraseña" id="" placeholder="contraseña">
            <br><br>
            <input type="checkbox" name="opcion" id="1"> recordar mi contraseña
            <br><br>
            <a href="/"><button class="registro">inicio</button></a>
            <script src="login.js"></script>
            
            <a href="register.html"><button >Registrate</button></a>
            <!--<a href="register.html" ><input type="submit" value="Registrate"></a> --> 
        </form>
    </div>
</div>
    <footer class="footer"></footer><!-- se agrega a toda página. -->

        <script src="/commons/header/header.js"></script>
        <script src="/commons/footer/footer.js"></script>
</body>

</html>
