.cestilo1 {

    display: inline-flex;
    width: 100vw;
    height: 40vw;
    justify-content: flex-start;
    color: aliceblue;
    background: rgb(188, 223, 136);
  
}

.divimg {
    width: 50vw;
    overflow: auto;
    background-image: url(/assets/img/loginImages/register.jpg);
    background-size: 40vw;
    margin-top: 75px;
    margin-left: 100px;
    background-repeat: no-repeat;
    
}
.hformulario {
    
    width: 35vw;
    height: 40vw;
    text-align: left;
    font-size: 22px;
    padding-top: 10px;
    margin-top: 50px;
    
}

input {
    border-radius: 3px;
    border-color: aliceblue;


}
header .cabecera .desplegable-burguer .registro-login { 
    display:none
}
#menu-check, #menu {
    display:none;
}
/*HEADER*/
header{
    background-color:#D8E450;
    background-image:none;
    height: 60px;
} 
