*{
    margin:0px;
    border-radius: 10px;
}
/*HEADER*/
header{
    background-color:#D8E450;
    background-image:none;
    height: 60px;
}

/* para poder acceder al formulario la persona debe estar previamente logueada. esto implica que no necesitará los botones estando en la pagina del formulario. lor lo mismo los quitamos*/
header .cabecera .desplegable-burguer .registro-login { 
    display:none
}

#menu-check, #menu {
    display:none;
}

h2{color: #E9207E;
background:#D8E450;

  border-left-style: solid;
  border-left-width: 400px;
  border-right-width: 400px;
  border-right-style: solid;
  height: 40px;

}
button{
    width: 80px; ;
    color: aliceblue;
    background-color: #E9207E;
    padding: 2px; ;
    margin: 2px;
    border: radius 1vw; 
    margin-bottom: 10px;
}

textarea{

 width: 120px;
height: 30px;}

label,input{
font-size: 15px;
}

input[text]{
    width: 80%;
    padding: 2vw; ;
    margin: 2vw;
    border: radius 1vw; 
 
  }input[type=reset]{
      width: 30%; 
      background-color: #E9207E;
      color: aliceblue;
      padding: 10px;
      margin-bottom: 10px;
      cursor: auto;
  } 

input[type=submit]{
width: 30%; 
background-color: #E9207E;
color: aliceblue;
padding: 10px;
margin-bottom: 10px;
cursor: auto;
}
select[type=submit]{
    width: 30%; 
    background-color: #E9207E;
    color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
    cursor: auto;
    }
    input[type="file"]  {
    width: 30%; 
    background-color: #E9207E;
    color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
    cursor: auto;
    }
   button [type="submit"]{
    width: 30%; 
    background-color: #E9207E;
    color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
    cursor: auto;
    }
  .formulario{
 
    color: #E9207E;
    border-radius: 5px;
    background-color: aqua;
    padding: 5%;
    margin: 10% 20% ; 
   /* border-left-width: 200px;
    border-right-width: 200px;*/
   }
