<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="..//assets/img/logo/camping2_1.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">     
    <link rel="stylesheet" href="/components/product/createProduct/newEvent.css">  
    <title>PARQUE</title>
</head>
<body>
    <body>
        <header>
            <div class="cabecera"></div>
        </header>
        <main>
           
<h2>formulario de carga </h2>
  
<form  id = formulario class = formulario >
  <div >
  <ul>
     <li>
       <label for="name">Ingresa el nombre del evento</label>
       <input id = evento type="text" name="nombre" placeholder="Ingrese nombre del evento" >
     </li>
     <br>
     <li>
        <label  for="name">Ingresa el lugar del evento</label>
        <input id= lugar type="text" name="lugar" placeholder="Ingrese el lugar del evento" >
      </li>
      <br>
     <li>



      
       <label for="">Ingresa fecha del evento </label>
       <input  id = fecha type="text" name="fecha" placeholder="Ingrese la fecha">
     </li><br>
     
     <li>
       <label for="">Ingresa descricion del evento</label>
       <textarea name="" id="descripcion" cols="20" rows="05" ></textarea>
         
    <br>

       
       <br><br>
       Seleccione zona geografica
       <select  id =zona type="submit" name="zona">
       
        <option>Centro</option>
        <option>Norte</option>
        <option>Sur</option>
        <option>Otros</option>
    </select>
       <br><br>
     </li>
    </div>
   
     <div >

        
          <label for="">Ingresa imagen del evento</label>
          <input id =archivo type="file"><br />
      
        </div>
      </div>
    </ul>
    <br><br>
    <input type="reset" value="Borrar formulario">
    <br>
    <input type="submit" value="Enviar datos">
   </form>


<br>
            
        </main>    
        <footer class="footer"></footer><!-- se agrega a toda página. -->
     
        <script src="newEvent.js"></script>
        <script src="//commons/header/header.js"></script>
        <script src="//commons/footer/footer.js"></script>

</body>
</html>
