<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="..//assets/img/logo/camping2_1.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css"> 
    <link rel="stylesheet" href="newEvent.css">  
     
    <link rel="stylesheet" href="//components/product/createProduct/newEvent.css">  
    <title>PARQUE</title>
</head>
<body>
    <body>
        <header><!-- se agrega a toda página. (en formularios se deben ocultar los botones de Registro y Login xq para poder acceder la persona ya esta logueada). Se debe cambiar el css un poco-->
            <div class="cabecera"></div>
            <div class="cabecera">
                <div class="logo">        
                  <button type="submit">inicio</button>
                  <br><br>
                    <a href="#"><p>PARQUE</p></a>
                </div> 
        </header>
        <main>
           
<h1><center> formulario de carga </h1></center>
  
<form  id = formulario class = formulario >
  <div >
  <ul>
     <li>
       <label for="name">poner el nonbre del evento</label>
       <input id = evento type="text" name="nonbre" placeholder="Ingrese nombre del evento" >
     </li>
     <br>
     <li>
        <label  for="name">poner el lugar del evento..</label>
        <input id= lugar type="text" name="lugar" placeholder="Ingrese el lugar del evento" >
      </li>
      <br>
     <li>
       <label for="":>cargar fecha </label>
       <input  id = fecha type="text" name="fecha" placeholder="Ingrese la fecha">
     </li><br>
     
     <li>
       <label   for="">descricion del evento:</label>
         <input id= descripcion type="text" size="30"style="height: 40px;
         width: 150px;"placeholder="cargue descripcion
         "
         >
      
         
    <br>

       
       <br><br>
       Seleccione zona geografica
       <select  id =zona type="submit" name="zona">
        <option>Centro</option>
        <option>Norte</option>
        <option>Sur</option>
        <option>Otros</option>
    </select>
       <br><br>
     </li>
    </div>
   
     <div >

        
          <label for="">Elige el archivo a subir  del evento alguna foto : </label>
          <input id =archivo type="file" /><br />
      
        </div>
      </div>
    </ul>
    <br><br>
    <input type="submit" value="Borrar formulario">
    <br>
    <input type="submit" value="Enviar datos">
   </form>


<br>
            
        </main>    
        <footer class="footer"></footer><!-- se agrega a toda página. -->
     
        <script src="newEvent.js"></script>
        <script src="/commons/header/header.js"></script>
        <script src="/commons/footer/footer.js"></script>

</body>
</html>