header{
    background-color:#D8E450;
    background-image:none;
    height:65px;
}
.event-name{
    color: #E9207E;
}
.slider-frame{
    width: 90%;
    max-width: 120em;
    padding:2em;

}
.slider-images{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2em;
    border-radius: 30px;
    background: #ffffff;
    box-shadow:  35px 35px 80px #dedede,
    -35px -35px 80px #ffffff;
}
.slider-images img{
    width: calc(100%/2);
    border-radius: 30px;

}
.dots{
    width: 100%;
    padding: .4em;
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    align-items: center;
}
.dot{
    width: 1em;
    height: 1em;
    background: #ffffff;
    box-shadow:  35px 35px 80px #dedede,
    -35px -35px 80px #ffffff;    
    margin:.2em;
}
.event-info{
    font-size: 20px;
}
.event-map iframe{
    border:0;
    border-radius: 25px;
}
.event-map{
    display: inline;
    align-items: center;
    justify-content: center;
}
.info-container{
    display: inline;

}
.guardar-evento{
    display: flex;
    align-items: center;

}
.guardar-evento button{
    height: 45px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: #E9207E;    
    border: none;
    color:white;
    margin-right:20px;
    box-shadow: rgba(79, 6, 45, 0.35) 0px 5px 15px;
    transition: box-shadow 0.5s;
}
.guardar-evento button:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
}
